body {
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 20px;
}
a{
color: red;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}
a:hover{
color: white;
}
.copyright {
color: white;
}
h1 {
font-size: 90px;
color: purple;
margin: 0 auto 0 auto;
font-family: 'Sacramento',cursive;
}
h2 {
font-family: 'Montserrat', sans-serif;
}
hr {
border-color:black;
border-style:none;
border-top-style:dotted;
border-width:10px;
width:4%;
margin:100px auto;
}
p {
color: black;
}
.house{position: relative;
top:30px;
right:80px;

}
body {
background-color: #50CB93;
}
.top{
position:relative;
left: 200px;
top: 10px;

}
.down{
position:relative;
bottom:100px;
right:150px;
}
.profile{
color:red;
}
.contact-me{
color:pink;
}
.ballon1{
position:absolute;
left:20px;
}
.ballon2{
position:absolute;
right:20px;
}
.middle-container {
margin: 10px;

}
.bottom-container{
margin: 100px;
background-color: orange;
padding: 10px 20px;
}
.skills{
color:blue;
text-align:center;
}
.skill-row{
color:green;
width:50%;
margin: 100px auto 100px auto;
text-align: center;
line-height: 2;
}
.programmer-img{
width:35%;
float:left;
margin-right:30px;
}
.developer-img{
width:25%;
float:right;
margin-left:30px;
}
.design{
width:25%;
float:right;
margin-left:30px;
}
.btn {
background: #11cdd4;
background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
background-image: -o-linear-gradient(top, #11cdd4, #11999e);
background-image: linear-gradient(to bottom, #11cdd4, #11999e);
-webkit-border-radius: 8;
-moz-border-radius: 8;
border-radius: 8px;
font-family: 'Montserrat', sans-serif;
color: #ffffff;
font-size: 20px;
padding: 10px 20px 10px 20px;
text-decoration: none;
}

.btn:hover {
background: #30e3cb;
background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
text-decoration: none;
}
